#feature4{
    padding-bottom: 82px;
    background: url(../../assets/feature3-back.png) no-repeat center / cover;
    position: relative;
    margin-bottom: 90px;
}
.f4_text h5{
    color: #3734A9;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.f4_text h2{
    color: #000;
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.5px;
    padding-bottom: 36px;
}
.f4_text p{
    color: #757095;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.36px;
    padding-bottom: 27px;
}
.f4_text a{
    transition: 0.5s;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.32px;
    padding: 15px 35px;
    border: 1px solid #3734A9;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.f4_text a:hover{
    background-color: #3734A9;
    color: #fff;
}
.f4_img{
    padding: 41px 51px 0 41px;
    border-radius: 20px;
    background: #F5F6F8;
    position: relative;
}
.f4_back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.item1{
    position: relative;
    z-index: 3;
    padding: 16px 0 15px 19px;
    display: flex;
    margin-bottom: 38px;
    background-color: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.item-text{
    padding-left: 25px;
}
.item-text h4{
    color: #3734A9;
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.3px;
}
.item-text h5{
    color: #757095;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.28px;
}